




#wrap {
    height:609px;
    position:relative;
    overflow:hidden;
}
#header {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.7);
    height:70px;
    z-index:1;
}
#logo {
    position:absolute;
    top:10px;
    left:80px;
}
#header ul {
    margin-left:350px;
}
#header ul li {
    float:left;
}
#header ul li a{
    margin-top:20px;
    padding:0 25px;
    display:block;
    height:40px;
    line-height:40px;
    color:#fff;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    border-radius:5px;
    transition:all 0.3s linear;
}
#header ul li a:hover {
    background-color:#D82128;
}
#banner {
    position:relative;
}
#banner img {
    width:100%;
    position:absolute;
}

#footer {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background:#000;
    height:50px;
}
#footer ul {
    margin-left:50px;
}
#footer ul li {
    float:left;
}
#footer ul li a {
    display:block;
    padding:0 10px;
    margin-top:15px;
    width:25px;
    height:25px;
}

#info {
    position:absolute;
    right:0;
    top:0;
    text-align:center;
}
#info span.info {
    position:relative;
    bottom:10px;
    color:#545454;
    right:15px;
}
#info embed {
    margin-top:5px;
}

#mask {
    position:absolute;
    bottom:20px;
    left:0;
}
#mask ul li.last {
    margin-left:-15px;
}
#mask ul li {
    float:left;
}
#mask ul li a {
    overflow:hidden;
    display:block;
    width:320px;
    height:170px;
    position:relative;
}
#mask>span {
    position:absolute;
    right:5px;
    top:5px;
    display:block;
    border:1px solid #fff;
    border-radius:3px;
    height:20px;
    width:20px;
    line-height:20px;
    text-align:center;
    color:#fff;
    cursor:pointer;
    z-index:10;
    font-size:20px;
}
#mask ul li a span {
    display:block;
    background-color:#D4D4D5;
    width:250px;
    position:absolute;
    bottom:0;
    left:0;
    height:30px;
    line-height:30px;
    color:#000;
    font-size:14px;
    padding-left:10px;
}
#mask ul li a span::before {
    content:'';
    height:0;
    width:0;
    border:15px solid transparent;
    border-left:15px solid #d4d4d5;
    position:absolute;
    right:-30px;
    top:0;
}
#weixin {
    position:absolute;
    z-index:20;
    bottom:30px;
    right:20px;
}
